<div class="menuSection">
    <div class="menuBlock">
        <a class="menuItem" href="/">Главная</a>
        <a class="menuItem" href="/product/catalog">Каталог товаров</a>
        <a class="menuItem" href="/orders/orders">Заказы</a>
    </div>
    <div class="breadCrumpsBlock">
        {{ position }}
    </div>
</div>
